.rouge {
  color: red;
}

.bleu {
  color: blue;
}
.vert {
  color: green;
}

.brouge {
  background-color: red;
}

.bbleu {
  background-color: blue;
}

.bvert {
  background-color: green;
}

h4 span {
  color: gray;
}

.couleurDeFond {
  font-family: "Courier New", Courier, monospace;
}

.couleurDuTexte {
  font-family: Arial, Helvetica, sans-serif;
}
