/* *********************************************************
                   *LA TYPOGRAPHIE*
********************************************************* */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,900&display=swap");
/* *********************************************************
                   *GLOBAL*
********************************************************* */
body {
  font-family: "Montserrat", sans-serif;
}
.btn {
  background-color: rgb(124, 40, 99);
  padding: 10px;
  color: white;
}
.btn:hover {
  background-color: black;
}
.zoneMax {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  font-size: small;
}

.logo {
  height: 30px;
}
/* *********************************************************
                   *LE HEADER PAR SECTION*
********************************************************* */

header {
  background: linear-gradient(
      to top right,
      rgba(124, 40, 99, 0.541),
      rgba(0, 0, 0, 0.363)
    ),
    url(./img/fitness.jpg);
  background-size: cover;
  background-position: center top;
  color: white;

  text-align: center;
  background-attachment: fixed;
}

header .barnav {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
header .barnav ul li {
  display: inline-block;
  margin-left: 20px;
}
header h1 {
  font-size: 80px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
  line-height: 100%;
}
header div {
  padding-bottom: 80px;
  padding-top: 80px;
}

/* *********************************************************
                   *MAIN*
********************************************************* */
/* ------zoneMax---------- */

main .zoneMax ul {
  display: flex;
  justify-content: center;
}
.man {
  background-image: url(./img/fitnessman.jpg);
}
.woman {
  background-image: linear-gradient(
      rgba(124, 40, 99, 0.541),
      rgba(0, 0, 0, 0.164)
    ),
    url(./img/fitnesswoman.jpg);
}
main .zoneMax div {
  text-align: center;
}
main .zoneMax ul li {
  background-position: center;
  background-size: cover;
  color: white;
  margin-top: -60px;
  padding: 80px 30px;
  margin-bottom: 15px;
  width: 50%;
  text-align: center;
}

/* --------------------objectifs-------------------- */

#objectif ul {
  margin-bottom: 0;
}
#objectif ul li {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0 0;
}
#objectif ul li a {
  text-align: center;
  padding: 50px 30px;
  width: 25%;
  border-top: solid 0.5px rgba(0, 0, 0, 0.24);
  border-left: solid 0.5px rgba(0, 0, 0, 0.24);
}
#objectif ul li a:first-of-type {
  border-left: none;
}

/* ------------------fitclub------------ */

.fitclub {
  background-image: linear-gradient(
      to right,
      rgba(124, 40, 99, 0.541) 55%,
      black 45%
    ),
    url(./img/crossfit.jpg);

  color: white;

  padding: 80px 0;
}

.fitclub .zoneMax article {
  width: 50%;
}

.fitclub .zoneMax {
  display: flex;
  justify-content: flex-end;
}

.fitclub .zoneMax article p,
.fitclub .zoneMax article a {
  margin-left: 100px;
}

/* -----------------nos services-------------------- */

.services {
  margin: 0;
}
.services ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.services ul li {
  width: calc(100% / 3);
  text-align: center;
  padding: 50px 100px;
}
.services ul li:nth-of-type(odd) {
  background-color: rgba(128, 128, 128, 0.096);
}
/* --------------cart---------- */
.cart iframe {
  width: 100%;
  display: block;
}

/* *********************************************************
                   *LE FOOTER*
********************************************************* */

footer {
  background-color: rgba(0, 0, 0, 0.911);
  border-top: solid 20px rgb(124, 40, 99);
  font-size: small;
}

footer .zoneMax .total {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-bottom: 80px;
}

/* ------------------------- */

footer .zoneMax .left .logoo {
  word-spacing: 10px;
  font-size: large;
}
footer .zoneMax .left {
  text-align: end;
  width: 25%;
  padding-top: 20px;
}

/* ------------------- */

footer .zoneMax .formul {
  background: white;

  width: 55%;
  margin-top: -60px;
  color: black;
  z-index: 9999;
}

footer .zoneMax .formul ul {
  text-align: center;
  padding-bottom: 50px;
}
footer .zoneMax .formul ul li {
  margin: 40px;
}
footer .zoneMax .formul ul li .btn {
  color: white;
}
footer .formul ul li input {
  border: 0px;
  border-bottom: solid 0.5px gray;
  width: 100%;
}

/* ----------------------- */

footer .zoneMax .right ul {
  flex-direction: column;
}
footer .zoneMax .right i {
  color: rgb(124, 40, 99);
}
footer .zoneMax .right li h3 {
  word-spacing: 10px;
}
footer .zoneMax .right li p {
  padding-left: 25px;
}
footer .zoneMax .right ul li {
  text-align: start;
}
/* *********************************************************
                   *tablette
********************************************************* */

@media (min-width: 768px) and (max-width: 991px) {
  .services ul li {
    width: 50%;
  }
  .services ul li:nth-of-type(odd) {
    background: white;
  }
  .services ul li:nth-of-type(2),
  .services ul li:nth-of-type(3),
  .services ul li:nth-of-type(6) {
    background-color: rgba(128, 128, 128, 0.158);
  }
}
/* *********************************************************
                   *mobile
********************************************************* */

@media (max-width: 768px) {
  main .zoneMax ul {
    flex-direction: column;
    align-items: center;
  }
  /* ------------------ */
  #objectif ul li a {
    width: 50%;
  }

  /* ----------------------- */
  .fitclub {
    background: black;
  }
  .fitclub .zoneMax article {
    width: 100%;
  }
  .fitclub .zoneMax article p,
  .fitclub .zoneMax article h2 {
    margin: 0;
    padding: 30px;
  }
  .services ul li {
    width: 100%;
    flex-direction: column;
  }

  /* ------------------------- */

  footer .zoneMax .total {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .zoneMax .total .formul {
    order: -1;
  }

  footer .zoneMax .left {
    text-align: center;
    width: 50%;
    padding-top: 60px;
  }

  footer .zoneMax .right {
    width: 50%;
    padding-top: 50px;
  }
  header .barnav {
    background: rgb(124, 40, 99);
    padding: 15px 20px;
  }
  header .barnav ul li {
    display: none;

    flex-direction: column;
  }
}
@media (min-width: 767px) {
  header label {
    display: none;
  }
}
