/***************************** 
            la typographie
*****************************/

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

/***************************** 
          *classe globales
*****************************/

body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-family: "Playfair Display", serif;
}

.zoneDeTexte {
  max-width: 1060px;
  padding: 20px;
  margin: auto auto;
  /* border: solid 1px coral;  */
  /* position: absolute;
  left: 400px;
  top: 100px; */
}

/***************************** 
            header 
*****************************/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.315)),
    url(/img/detoxcuresmoothie.jpg);

  background-size: cover;
  background-position: center;

  text-align: center;
  color: white;
}

header .logoBlanc {
  height: 30px;
}

header .barNav {
  display: flex;
  justify-content: space-between;
}

header .barNav ul li {
  margin-left: 20px;
  display: inline-block;
}
header h1 {
  margin: 120px;
  font-size: 40px;
  letter-spacing: 5px;
}

/***************************** 
            main
*****************************/

/* *******************1-notre devis***************** */

main .fondRose {
  height: 250px;
}
main .notreDevise {
  display: flex;
}
main p {
  margin: 20px 20px;
}
main h2 {
  text-align: center;
  padding: 0;
}

/* **************2-methode de fabrication********************* */
.methodeDeF {
  background: linear-gradient(10deg, #f59e28, #feb4c3);

  text-align: center;
}
/* *****************3-concept******************** */
.zoneDeTexte h2 {
  text-align: center;
  padding: 20px;
}
.zoneDeTexte ul {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.zoneDeTexte ul li {
  text-align: center;
}

/***************************** 
            footer
*****************************/

footer {
  background: #f59e28;
  text-align: center;
}

/***************** RESPONSIVE MOBILE **********************/

@media (max-width: 767px) {
  .zoneDeTexte {
    max-width: 767px;
    margin: 0;
  }

  header .barNav ul {
    flex-direction: column;
  }
  .notreDevise {
    flex-direction: column;
  }
  .zoneDeTexte ul {
    flex-direction: column;
  }
}
